@use "../variables" as v;

.faq {
    background: url("/asspodologia/frontend/assets/img/bg/bg-w.png") no-repeat top center;
    background-size: cover;
    margin-top: -200px;
    padding-top: 300px;
    min-height: 1200px;
    height: 100%;

    .faq-header {
        padding: 30px 0;
        .faq-title {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .card-body {
        font-size: 1.4rem;
    }
}