.hero {
     height: 95vh;
     background: 
        url("/asspodologia/frontend/assets/img/bg.png") 
        no-repeat
        top center;

     background-size: 100%;
     .hero-text {
        padding: 130px 0 0 100px;
        .hero-title {
            font-size: 3rem;
            font-weight: 700;
        }
        .hero-subtitle {
            font-size: 2.2rem;
            font-weight: 600;
            padding-bottom: 30px;
        }
        .hero-p {
            font-size: 1.6rem;
        }
     }
     .img-perfil {
        padding-top: 50px;
        position: relative;
        z-index: 1;
     }
}