@use "../variables" as v;

.identification {
    margin-top: -220px;
    margin-bottom: 100px;
    padding-top: 220px;
    padding-bottom: 200px;
    background: url("/asspodologia/frontend/assets/img/bg/bg-w.png") no-repeat top center;
    background-position: top center;
    position: relative;
    z-index: 100;
    .identification-title {
        margin: 0 auto;
        text-align: center;
        color: v.$tertiary-color;
        font-size: 2.8rem;
        font-weight: 700;
    }
    p {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .identification-col-list {
        margin-top: 50px;
        padding: 0;
        .identification-list {
            color: #099310;
            font-size: 1.6rem;
            line-height: 4rem;
            list-style: none;
            text-decoration: none;
        }
    }
    .identification-footer {
        strong {
            font-weight: 700;
        }
    }
    
}