@use "../variables" as v;

.main-footer {
    padding: 50px 0;
    .main-footer-title {
        color: v.$tertiary-color;
        font-size: 3.5rem;
        font-weight: 900;

    }
    .main-footer-text {
        font-size: 1.7rem;
        font-weight: 600;

    }
}