@use "../variables" as v;


.soluction {
    background: url("/asspodologia/frontend/assets/img/bg/bg-w.png") no-repeat top center;
    margin-top: -200px;
    padding-top: 200px;
    width: 100%;
    height: 1100px;
    position: relative;
    z-index: 100;

    .soluction-title {
        margin-top: 50px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .soluction-list {
        font-size: 1.3rem;
        padding: 30px 0;
        margin-left: 170px;

        .soluction-list-item {
            
            padding: 7px;
        }
    }
    .soluction-footer {
        margin-top: -30px;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .cta {
        text-align: center;
        margin-top: 50px;
        
        .cta-title{
            color: v.$tertiary-color;
            font-size: 3.3rem;
            font-weight: 900;
        }
        .cta-text {
            font-size: 1.5rem;
            font-weight: 500;
        }
        .cta-text-aux {
            color: #000;
            font-size: 1.2rem;
            font-weight: 200;
        }
    }
}