@use "../variables" as v;

.about {
    background-color: v.$brown-color;
    margin-top: -220px;
    padding-bottom: 100px;
    padding-top: 200px;
    height: 1100px;
    .about-header {
        padding: 30px 0;
        .about-title {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
    .about-content {
        font-size: 1.3rem;
        padding-left: 100px;

        .about-text {
            width: 80%;
            text-align: justify;
        }
    }
    .about-img {
        max-width: 100%;
    }
}   

@media (max-width: 1199px) and (min-width: 1025px) {
    .about {
        height: 1100px;
        margin-top: -250px;
        .container {
            max-width: 1100px;
            min-width: 960px;
            .about-header {
                .about-title {
                    font-size: 2.4rem;
                    font-weight: 700;
                }
            }
            .about-content {
                font-size: 1.38rem;
                padding-left: 50px;
                .about-text {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .about {
        height: 1000px;
        margin-top: -300px;
        padding-top: 250px;
        .container {
            max-width: 900px;
            min-width: 720px;
            .about-header {
                .about-title {
                    font-size: 2.2rem;
                    font-weight: 700;
                }
            }
            .about-content {
                font-size: 1.1rem;
                padding-left: 30px;
                .about-text {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width:768px) and (min-width:426px) {
    .about {
        min-height: 1000px;
        height: 100%;
        margin-top: -150px;
        padding-top: 150px;
        padding-bottom: 50px;
        .container {
            max-width: 90%;
            .about-header {
                .about-title {
                    font-size: 3rem;
                    font-weight: 700;
                    text-align: center;
                }
            }
            .about-content {
                font-size: 1.4rem;
                padding-left: 0;
                .about-text {
                    width: 100%;
                    text-align: justify;
                }
            }
            .about-img {
                display: none;
            }
        }
    }
}

@media (max-width:425px) {
    .about {
        min-height: 1200px;
        height: 100%;
        margin-top: -100px;
        padding-top: 100px;
        padding-bottom: 50px;
        .container {
            max-width: 95%;
            .about-header {
                .about-title {
                    font-size: 2.5rem;
                    font-weight: 700;
                    text-align: center;
                }
            }
            .about-content {
                font-size: 1.2rem;
                padding-left: 0;
                .about-text {
                    width: 100%;
                    text-align: justify;
                }
            }
            .about-img {
                display: none;
            }
        }
    }
}