@use "../variables" as v;

.faq {
    background: url("../img/bg/bg-w.png") no-repeat top center;
    background-size: cover;
    margin-top: -200px;
    padding-top: 300px;
    min-height: 1200px;
    height: 100%;

    .faq-header {
        padding: 30px 0;
        .faq-title {
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .card-body {
        font-size: 1.4rem;
    }
}

@media (max-width: 1199px) and (min-width: 1025px) {
    .faq {
        min-height: 1300px;
        margin-top: -250px;
        .container {
            max-width: 1100px;
            min-width: 960px;
            .faq-header {
                .faq-title {
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
            .card-body {
                font-size: 1.3rem;
            }
        }
    }
}