@use "../variables" as v;

.identification {
    width: 100%;
    margin-top: -200px;
    margin-bottom: 100px;
    padding-top: 150px;
    background: url("../img/bg/bg-w.png") no-repeat center top;
    background-size: cover;
    position: relative;
    z-index: 100;
    height: 1000px;
    .identification-title {
        margin: 0 auto;
        text-align: center;
        color: v.$tertiary-color;
        font-size: 2.8rem;
        font-weight: 700;
    }
    .identification-header-text {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
    }
    .identification-col-list {
        margin-top: 50px;
        padding: 0;
        .identification-list {
            color: #099310;
            font-size: 1.6rem;
            line-height: 4rem;
            list-style: none;
            text-decoration: none;
        }
    }
    .identification-footer {
        strong {
            font-weight: 700;
        }
    }
    
}

@media (max-width:1440px) and (min-width:1200px) {
    .identification {
        min-height: 1100px;
        height: 100%;
        margin-top: -300px;
    }
}

@media (max-width: 1199px) and (min-width: 1025px) {
    .identification {
        width: 100%;
        min-height: 900px;
        height: 100%;
        margin-top: -350px;
        padding-top: 200px;
        .container {
            max-width: 1100px;
            .identification-header {
                margin: 0;
                padding: 0;
                .identification-title {
                    text-align: center;
                    color: v.$tertiary-color;
                    font-size: 2.3rem;
                    font-weight: 700;
                }
                .identification-header-text {
                    font-size: 1.4rem;
                }
            }
            
        }
        .identification-col-list {
            .identification-list {
                color: #099310;
                font-size: 1.3rem;
                line-height: 3rem;
                list-style: none;
                text-decoration: none;
            }
        }
        .identification-img {
            margin-top: 50px;
            max-width: 60%;
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .identification {
        width: 100%;
        height: 800px;
        margin-top: -300px;
        padding-top: 150px;
        .container {
            max-width: 1000px;
            min-width: 760px;
            .identification-header {
                margin: 0;
                padding: 0;
                .identification-title {
                    font-size: 2rem;
                }
                .identification-header-text {
                    font-size: 1.2rem;
                }
            }
            
        }
        .identification-col-list {
            .identification-list {
                font-size: 1.1rem;
                line-height: 2.5rem;
            }
        }
        .identification-img {
            margin-top: 30px;
            max-width: 70%;
        }
    }
}
@media (max-width: 768px) and (min-width: 426px) {
    .identification {
        width: 100%;
        height: 100%;
        margin-top: -250px;
        padding-top: 150px;
        .container {
            max-width: 100%;
            padding: 0 15px;
            .identification-header {
                margin: 0;
                padding: 0;
                .identification-title {
                    font-size: 1.8rem;
                }
                .identification-header-text {
                    font-size: 1rem;
                }
            }
            
        }
        .identification-col-list {
            .identification-list {
                font-size: 1rem;
                line-height: 2rem;
                margin-bottom: 30px;
            }
        }

        .identification-img {
            display: none;
        }
        .identification-footer {
            margin-left: 45px;
            font-size: 1rem;
        }
    }
}

@media (max-width: 425px) {
    .identification {
        width: 100%;
        min-height: 750px;
        height: 100%;
        margin-top: -200px;
        padding-top: 100px;
        .container {
            max-width: 100%;
            padding: 0 15px;
            .identification-header {
                margin: 0;
                padding: 0;
                .identification-title {
                    font-size: 1.5rem;
                }
                .identification-header-text {
                    font-size: 0.9rem;
                }
            }
            
        }
        .identification-col-list {
            .identification-list {
                font-size: 0.8rem;
                line-height: 1.8rem;
                margin-bottom: 20px;
            }
        }

        .identification-img {
            display: none;
        }
        .identification-footer {
            margin-left: 30px;
            font-size: 0.9rem;
        }
    }
}