@use "../variables" as v;

.main-footer {
    padding: 50px 0;
    .main-footer-title {
        color: v.$tertiary-color;
        font-size: 3.5rem;
        font-weight: 900;

    }
    .main-footer-text {
        font-size: 1.7rem;
        font-weight: 600;

    }
}
@media (max-width: 1199px) and (min-width: 1025px) {
    .main-footer {
        .container {
            max-width: 1100px;
            min-width: 960px;
            .main-footer-title {
                font-size: 3rem;
                font-weight: 900;

            }
            .main-footer-text {
                font-size: 1.5rem;
                font-weight: 600;

            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .main-footer {
        .container {
            max-width: 900px;
            min-width: 720px;
            .main-footer-title {
                font-size: 2.5rem;
                font-weight: 900;

            }
            .main-footer-text {
                font-size: 1.3rem;
                font-weight: 600;

            }
        }
    }
}
@media (max-width: 768px) and (min-width: 426px) {
    .main-footer {
        .container {
            max-width: 100%;
            .main-footer-title {
                font-size: 2.5rem;
                font-weight: 900;
            }
            .main-footer-text {
                font-size: .9rem;
                font-weight: 600;
            }
            .main-footer-aux {
                font-size: .9rem;
            }
        }
    }
}