@use "../variables" as v;


.soluction {
    background: url("../img/bg/bg-w.png") no-repeat top center;
    background-size: cover;
    margin-top: -300px;
    padding-top: 200px;
    height: 1100px;
    position: relative;
    z-index: 100;
    .soluction-title {
        margin-top: 50px;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .soluction-list {
        font-size: 1.3rem;
        padding: 30px 0;
        margin-left: 170px;

        .soluction-list-item {
            
            padding: 7px;
        }
    }
    .soluction-footer {
        margin-top: -30px;
        font-weight: 700;
        font-size: 1.3rem;
    }
    .cta {
        text-align: center;
        margin-top: 50px;
        
        .cta-title{
            color: v.$tertiary-color;
            font-size: 3.3rem;
            font-weight: 900;
        }
        .cta-text {
            font-size: 1.5rem;
            font-weight: 500;
        }
        .cta-text-aux {
            color: #000;
            font-size: 1.2rem;
            font-weight: 200;
        }
    }
}

@media (max-width: 1199px) and (min-width: 1025px) {
    .soluction {
        height: 1200px;
        margin-top: -350px;
        .container {
            max-width: 1100px;
            min-width: 960px;
            .soluction-list {
                font-size: 1.3rem;
                padding: 30px 0;
                margin-left: 100px;

                .soluction-list-item {
                    
                    padding: 7px;
                }
            }
        }
         
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .soluction {
        height: 1200px;
        margin-top: -400px;
        padding-top: 250px;
        .container {
            max-width: 1000px;
            min-width: 760px;
            .soluction-list {
                font-size: 1.2rem;
                padding: 30px 0;
                margin-left: 80px;

                .soluction-list-item {
                    
                    padding: 7px;
                }
            }
            .soluction-img {
                max-width: 90%;
            }
        }
         
    }
}

@media (max-width:768px) and (min-width:426px) {
    .soluction {
        min-height: 1850px;
        height: 100%;
        margin-top: -200px;
        padding-top: 150px;
        padding-bottom: 50px;
        .container {
            max-width: 90%;
            .soluction-title {
                font-size: 2rem;
                font-weight: 700;
            }
            .soluction-list {
                font-size: 1.3rem;
                padding: 20px 0;
                margin-left: 50px;
                
                .soluction-list-item {
                    padding: 5px;
                }
            }
            .soluction-img {
                margin: 0 auto;
                width: 100%;
            }
            .soluction-footer {
                margin-top: 20px;
                font-size: 1.2rem;
            }
        }
         
    }
}

@media (max-width: 425px) {
    .soluction {
        max-width: 425px;
        min-height: 2000px;
        .container {
            width: 95%;
            padding: 0 7px;
            .soluction-title {
                font-size: 1.8rem;
                font-weight: 700;
                text-align: center;
            }
            .soluction-list {
                font-size: 1.1rem;
                padding: 15px 0;
                margin-left: 20px;

                .soluction-list-item {
                    padding: 5px;
                }
            }
            .soluction-img {
                margin: 0 auto;
                width: 100%;
            }
            .soluction-footer {
                margin-top: 20px;
                font-size: 1rem;
                text-align: center;
            }
        }
         
    }
}