

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Inter', sans-serif;

$font-size-base: 16px;
$line-height-base: 1.5;

$primary-color: #2C3E50;
$secondary-color: #F1C40F;
$tertiary-color: #F39C12;
$white-color:#ECF0F1;
$brown-color: #D7B398;
