server:
  port: 8080

spring:
  application:
    name: agendaExpress

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # Em produção, usar 'validate'
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

# JWT CONFIGURATION -------------------------
jwt:
  secret: ${JWT_SECRET:MINHA_CHAVE_SECRETA_SUPER_FORTE_32+}  # Sempre 32+ chars
  expiration: 86400000   # 1 dia em ms

# Swagger / OpenAPI -------------------------
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  packages-to-scan: br.com.asspodologia   # Ajuste para seu pacote base
