@use "../variables" as v;

.btn {
    width: 580px;
    background-color: v.$secondary-color;
    border-radius: 50px;
    border: 1px solid v.$primary-color; 
    position: relative;
    z-index: 200;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-cta-primary {
    padding: 1.2rem 1rem ;
    margin: 15px 0 15px 60px;
    font-size: 1.3rem;
    font-weight: 600;
    color: v.$primary-color;
    &:hover {
        width: 590px;
        opacity: 0.9;
        background-color: v.$secondary-color;
    }
        
}
.btn-cta-secondary {
    width: 350px;
    margin: 15px auto;
    padding: 1rem;    
    font-weight: 600;
    color: v.$primary-color;
    font-size: 1.2rem;
    .btn-cta-icon {
        width: 37px;
    }

    &:hover {
        width: 360px;
        opacity: 0.9;
        background-color: v.$secondary-color;
    }
}

.btn-faq {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid v.$primary-color;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: v.$secondary-color;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: v.$primary-color;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .btn-cta-primary {
        width: 90%;
        margin: 15px auto;
        padding: .9rem 1rem;
        
        .cta-link {
            .btn-cta-text {
                font-size: .9rem;
                width: auto;
            }
        }
        &:hover {
            width: 100%;
        }
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .btn-cta-primary {
        width: 70%;
        margin: 15px auto;
        padding: 1rem;
        
        .cta-link {
            .btn-cta-text {
                font-size: 1.1rem;
                width: auto;
            }
        }
        &:hover {
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .btn-cta-primary {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        
        .cta-link {
            display: flex;
            flex-direction: column;

            .btn-cta-text {
                font-size: 1rem;
                width: 90%;
            }
        }
        &:hover {
            width: 100%;
        }
    }
}

@media (max-width: 320px) {
    .btn-cta-secondary {
        width: 100%;
        margin: 15px auto;
        padding: 1rem;
        
        .cta-link {
            display: flex;
            flex-direction: column;
            text-align: center;

            .btn-cta-text {
                font-size: 1.1rem;
                width: 90%;
            }
        }
        &:hover {
            width: 100%;
        }
    }
}

